In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv("Fish.csv")

X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[: , 1:], df.iloc[: , 0], test_size=0.33, random_state=42)

df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

***

### BUILD MODEL

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(X_train, y_train)

cross_val_score(clf,X_test, y_test).mean()

/root/miniconda3/envs/d2l/lib/python3.8/site-packages/sklearn/model_selection/_split.py:666: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

0.7

***

### Save output to pickle file

In [42]:
import pickle

with open("fish_clf.model", "wb") as f:
    pickle.dump(clf, f)